Source: nsrreader
Section: user/office
Priority: optional
Maintainer: Alexander Saprykin <nsr.reader@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3

Package: nsrreader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Powerful documents reader
 NSR Reader supports PDF, DjVu, TIFF and TXT documents. It
 supports wide range of additional features like: pinch
 zooming, rotating, inverted colors, text mode (with reflow),
 fullscreen mode, encrypted PDFs, saves last document's
 position and more. And all of this without any conversion
 from the desktop. Feel the power of documents reading right
 on your MeeGo device!
XSBC-Maemo-Display-Name: NSR Reader
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3AoCEyoYK/bviQAAAB1pVFh0Q29tbWVudAAAAAAAQ3Jl
 YXRlZCB3aXRoIEdJTVBkLmUHAAAW1ElEQVR4XtVbCXRc1Xn+3zLvzabR6kWyLVkWNrYx3tgdllAI
 kJYASQ4YJ6Y2MUqAhtOe06SnyaElDU1XTtMTEsJijFkCpSdNk1JIINQB44TdYLxL3mUttqTRaPa3
 9/vvzBOjZbQYl5Lrcz2at9x7//37/3tHotPY1q69OVARi+mqLAdIVtRsOjdb1ZVG8rw5rufNUhS5
 UpGUsOO4Fei6R26YJMnDfUuR1ayiKllcSzmWk5Ek6kbvdCTvCDnesVAonHds20rn0ubjm54yTtey
 pakOtH79etq8efPQaxu+sr42GosukkluSmXSq2zbXuo6znwQPMN1PDItk1zXIdt2yHEc/O2Kd/nT
 8z6cXZYl8EIiWcZIikyqrIrPQCBAqqrgnpxUZOmArMp7opHoNvx9MJPOH3j4kY1H/FHuvLOVHnjg
 kSmRNGUG+KN//U/uvFwNyDdms/kLBwYTTfmcUQMBkWXZINb2iQWJIOuUZyEwyfN4BEVRwAgVDFHF
 p65r6VgsdryiIroDjP75tOr9z95z7/+UsHRyfJjU0m655RZ68sknxYi3blh3STgYemgwmWrp6+tT
 M5ms7E/Fi8Xfkxpzcssb8ykxh89VTdO8urpau6amJm6Z5r0bN276kVjn126lxx56bMJpJrXY9d/4
 ohTKTpttW9YDhmlc29XVQ7lcTkhmwhk+hgeY8WpAlRrqZ1IkEtkvqfKtQdLevv/HD9hr1qyhZ555
 puwqlHJ3PvvZz9KBAwdow9XrKFgRuyudTv9Hd0/P2Z2d3R7b8scg6amwToJP8eLxBKXTmbqAom4I
 aIHaFctXvPbEE0+Yra2ttH379jHHG1OC55xzDj3++I9oyZILqfWrGx6Pxwe+3NfXr8C2PzFSL8ed
 gs+QparKGNU3zHzXtaWrHt20MX7LLathxs+Oem1cFW5t/cqL/fHEVT09PfziJ574EuoEH6LRKDXP
 beru7e0462c/+9XArbfCLzw23C+UZUBr64ZH++Lxr3R1dnnwup8IW5+KTfCzbBZggjS3qfEdBOAr
 Nj3yWHLkGMN8wI033kh79uyhr93+1XVQ+7u7u7sVxOXfS+KFk0IzTZNs12mIhEKxMxbMf+lT557n
 bt+xY4gPw4i77bbb8BJNy2QyHxzv7Jxp2dbHEdamKtipPu/JoKqhoZ5qYpWrHnp00+ulAwzFcL64
 ceNGMgzzu4ODgzMtE8S7iOkM3H6/OyKE5/X3D1DGMP59JPeGMWD1l26ut2zz9v54nADQJfzj/097
 Z6iEUYf/wzwCQvG90z+nlM6kvWwuNxugrpWZsHbtWsELwYD7H7xffAlq+oPxfhDPLhQrAQdOe/cA
 IXJ5mxLJPPUP5iidwWciRwODBmVzFiA01O7/YF4ZofHkiRMESP0dpvWpp54SNA/5gNVrV88Cym5r
 b28P4+Gp2ln554szcPKTzVsUDnh05YpKunJZNbXUhyigymQjaerozdEv34mjJ8h0ZQoFkVAy0OQ+
 ZYQ/9nJcz/Xq62c6SN5af/LE05v5KXXdunUAPY9TgAJ/3B/v10+FclZmv7Hm+I2vw/7IQzZYoXl0
 +3XTaM1lM6FpCjwzXy+8yW/UV2u0anEV/dUal555pYc2vXwSNisTUmSRJZaOeyprFNJGQ3RTa6pr
 r8VXwQBlRzEkrFi58ttdXV0LeFFTbRayP84COdNFmlqwY+RFpmlTTHPp8xdU0n0b5tEFi6pEGmxD
 zQXxnDuh8yd3of5gyTnzK+j682ugMSYd7MpSzvSgutBK5tTUlzeMHJ4/HA7Ly5Yte37nzp0JgQNu
 uvnmBfl87i54/xrfEU32EzGWHCtP31s7B2qcocMnDdICCuzcouVzA/TdLzfSdRfUgTGENJnte8jX
 jTkFE+jAJPSARKsWxWjlvAgd7E5Te3eOQnpBGya7trEngOOTlYpQJLJl5wcftAtjx3/zMun0LF8S
 k/1kbiJsUvM0lS5ZHKMH7ziDbruihlKpDC1vkmnTXQvozFkhIXE2hVJpTzQHP899SVOYfnR7C335
 4kpKpvOizjDRuxPdBzjSVUWdLUyA/1u+csWlg4nEFw3DmJStldo8q77sWnTTxdMpost02ZIqOmu2
 Tj99rZs+BZWfFguQB4mK8s8pdgbiFy+spFTWoJ3HMizBSa1zLFNmY4M5ScgW4wsXL/6lcsMXvhBw
 HXddKpW+APn+hMiPpc4lLrbvdM4WRHX2ZWlhQ4iWNEbJMB06A9798xdNp/cPpvB3uGDrH7FxRFi1
 MEbd/Tl6/1CGdE09VZ8gyhhaQNMx5mYVhUYNpayzHccW0GfcdYKOHLRkwXSZvnE9NAgDbdmZoMd/
 k6dvbm6jc1ui1FCrU96wKapJdM2KGrItB+HsI1KP17kCwUz49hdmQxOO0ou7slQZDZ5S/cnm2qTn
 zlVRcFRlSQlYltkMLRCQd7wiD0uSncbbbYOUz88AF2HnL3UQBqKH7ziT6qtUclD85FYofRaF9NEV
 YGhMBcy858ZZtKujjeLQQA01wqkWplysEbIOwQ/Iqqqpimmb9XZBAwQ8Ha9xXA6FNFp//z7xZPOM
 MP3r+mY6uzEsKr8fR4sEiP7yupn0zae7yQFHuJI8lUokI13HcyRofpOKeryMmKyxbU8GbIBrYECw
 GGFc+tLFtbSyOURZY2rEs1UwZmBAdCrt3OYwLZ+j0Z4eCxBaoqAewHiTRrASa2o6lVkqm6ahMzWi
 Tj/BPwfOz+J6oKSQFgwCpal0xvQAWXB8SLlGdXCWdNkb8x47y5d3DFAAWjfWu+NdY8QVC0p0+aII
 qV6O/uaGakplcsTrm4gG/z5rq+3aTSq0oUHYPwuCDbfIDK7tcy1EgcTZxjj+wlfQwpkAzbxxgest
 dUFaOisoHB0yzmGCZAl3Jix64f0Erb6olqIIkaXNslx660CKLl4AInBrqnqA6iStmh+me//Tpj9a
 VkHJrE3ffylBmqYXTGKCAZkeRIJ6FQiwUVR5i2kov2iYFs2JObR4doi2tpuUdxR4YEBbRIBLWsL0
 p9fOIELE5PCeByHYCRqlxQzY/uX5bnpoS69g0vktkWFrUqAdibRFuxHXlzWGpmwFLLMzZwSoJiwD
 IFl083kxeudQln57yMLmiTa+T8C6OZTD502XLcupEdtVPibHMh18lxF4/u7zdfSdayvpU82SwPo5
 R6ZHXumjX749AJxui/TVY8fHDCjprL4DKZOeez8JHBAV6opa+vBnwIAM/EZ7d3bUvaGxsMiRY5d+
 57nPhpDYnlXJpT+7ohKUWWJnaiI0WMAzXpRBVqigvoXcn22E4/aRPpMsYPfLFoTo/Gad4mmXth3I
 UXtPnp57LyF8xqcXRqH6o4XHo5xM2jQDKPCe62fQfPiJUWAIc2rw4Hu68nQdxIl4PGwgXhKvSyRX
 ZRqvb+nsIFWFJOxButQyTaPPLNTpuV0WRbGVJsLjGOsTfgALx31NRQ4XRFAYch48F3vT7pRLh0/k
 qWW6RkE4slkxidacGwFzIiJFZxX0Y/7I9bFBzK9T6PVvNREAY9HBDn/KtT1K5V2YEDA/JOhxgC9p
 Bu7v6szT4nqdQtrY3t3AGlafWyFMkBlmQIBrz6+gZ985QeGgJjZXy4V1FxoOIQZk2ZN0aKPglF+J
 YScSDqr06NZ+0iUMzsgJ3YYZMAQ2gPT4b75erjNzuPIDpDnmMy6ud8NJ8soFA0aM5WD8/dCOVBZm
 VmYefi+KAov/Pq/pzOkI0yqn3BADpx+8Q22g0sSmWqRRXBc0S5rMOfhQja5Yi2PVCaMi88LuDO3F
 IhSEB49z+NPVYT6pnEu7ugyqhPryakaOzSrddsKgvDn+vBzBSt9lQbXUqSIDNTjWI1udVwXEKJnC
 tw2BPdZiaL4MO8uLIgjbit/xJ4c5x1Poey/0wwGCy+Dk6eoAcvSTNwfJcCRaNAOqyqnviPEHMw69
 eySPuTnKTH5uB6bDZbcciinn1zu0ZlmAvv2ZGBhQOJ/g01jUelMFFwzOiX2AwGYoDirw4QQtQL87
 nKMf/CZOrauqiBOwj5LYFWoZEr17zKAfbh0AiArTYqgsC4BhmN846Xm/I089aVtUiISWjtHGKhCx
 GVtgGEP7O1ZVg8EB+u1hjAWnHAprH9IJbYcPsFTMnCV2QKJS86EjYibw6QxHd+mh3yapL+XQLYi1
 C+EUC+m9RxDOuICDSUK+BG0qLPV4wqZXEUl+sDWBuqBGVy0I0vxazAFHyY2fR7mQuuAb7tsyAFVm
 B4ytieL9Uh4weOrBmqqBA5SSXXpXQXqOeSLIRrvx2Tlg0f2YD8peKLIW+cy0QvsNyNQd4LqI8Jal
 IQPPKig8BHXUSUHsT3dk6U2o5CIgwUXTddIRQK89KwKEBxmVQV1cBnvtoEFbD+Woa9CmDhB2dADO
 0VVpzfIQ3XYeagUcj5n5mC8Cb7+726RvPd9LqK7R55boqCkyCv1QA/g5HQzddihPx0Dc9UuiyJML
 C2A2AxBSJ+aK6Crd+2IfJfMerskUjQDxw7kLfCCkDQY4Tlq1JTpaiMHFzYASNvumoAcBL0FNL+p8
 +U6bmqoCtKopRGEsZCzp+EOwybEJPfNeWmALPjvVhHrB1y8K06XNyOXRfOlnoU7/8PIAvbA3QwbK
 4vOmBemms8LwDx+m1qxIg1mX/umNQdreadD3r6sTtPNeAzdmOPsNUCrylLgBOWPiKNJH1mamxxc0
 X3dd+4QaVvUOjz0CcMFI0ODHUNYEGdLhT5XydNncILVUs+qObZs+AziWnwSe8KQA3f0HFXRho0az
 YwpstFAgLW0JOL2nt6fFfoAG39OfNOjuX/XTrAoclgLhBrRgb69FB/ssOmuGTvf9YR3NDKO8XjKO
 Dnt7cT+qRUjZgfNJgvawWoh9DhFsSvwMY13b7VY1XXey2bRQoPFqAaI2j96b8eg9cL+lGtZTpvE0
 vGgOYUcHUB0KuHQt7J3VLwPwM1bjanE1JFVfpWMOF4wj6j1mw76B7eEXZlUoIFyjdSsr6IqWkPAV
 BrTGd4QBTHgA6PWl9jyIZ3WHIy9u8Iwyb76AB1zP7lRx5oe30XM4VREShf1yTagwtAAQ81XY9OfO
 DI2Cr2yf7JwY4g4gzj/8VpL2nLTomvm6kNR4qT9Lh3HbJbNkEBimjqRDb3SY9PIhmxbWEv0tcD7M
 WvgerhaDt0ONmZDChX9+NQHHDAzDGazv0Ec4d34JGg93IAPQGbtU1AM4c+gBs5oZKIwrVnZAKEG9
 cTxDj76dpNZzY8PS4F6o8dvHTXrxYI529JginfZw3u+SJmZAcSOk3AQgCuAT8NimhohEjRUocCAZ
 2nLYQM1AolokVBkQaWKTZGRjK/jhm0n6HRgWjYSEvxJpvQj2oxtrB5t9NFpxRDVQwcRRsyPQgGa2
 AVb08qrNOzQKxVAS27Q9S7/Ym0OOoFACat2DZIk/OeTFkPs3IBHqB8KACdMZlUrZWO7PxRoQglpz
 DsLAx4G58I4Qb5IUEs7i3sKIxfFij8RtehJRanol7zVyZQgDCYA7NikcDTBeWg1oppoYiJsz6xt2
 gwGX+5C4vBoUzCCga1SFz6xl0b64RzMjCi1DeJwRkak+iipRjUL7+i16YmeOrkS0qIIz4uRnvIZ8
 kRYAE/xahMwwVYKJ/92WpSSkvmJ6EFWnAhocq1Vi/BkxjVRgC15fIcyVn40zTPij40Y+Z6uHDx20
 GmbP2V5MHUVZdKI2FBWgDemcQZfNUemmRWHE50KMTgM6//22BE0Lq3RlowoYCoGUWbw/F8PjT88J
 0CtH8/Rf+7J0aaNOvzlq0nXzQ3QDHGiu1OhHLBBYkppiMh1DiBR7iOOT4KESzocm3u3rP4ntVzTT
 MI+DKEAP9hCT6HjEd4gavN6vYacK5+7F/qv2rNjirgJHzqjE9jeMlEPmuB0q3hSFBkXgYzpN6oQT
 ZId2OQqfnCuM9y7AHzVGAZhG5jRj0wJZy1xO33rk4CFGgkTJgYGj1bW1PVCLlsnu4vjP8TZVULZQ
 2GQ8LzAItcctOCLEYiQgFdCI7ATq7wsUqJaC0KIOhMEUJ/uQRoiLqiBEbLOPkDyHWobBOTA3ledk
 hx1t+fDMr4twLss5ZIvH+LvQgP1te9twun03CqBiDj/mT/QpBsAiOuEA3z9hgljgeMBQ/l4wqYJW
 COZMkNFx3h7EagIgOAeGPYecIQpg829wtK/CLBIIqwgExEzizlI/DIzxi/Yc3ft6kt5G1MExfcGi
 8dbNPj6gBY92HT++TzzrM3Xp8nP+HGrxj+nUIHKG8pFghBBEiomzNyQ7prB/rvNDGKTpQZTnUERt
 CNBqlNXmIlqwhvpa6o/DS+Z1pwyPfg58//NDJplcgUBI5ojDx9xUqAAnVSFggEAxccuDYXkwiqvD
 rGCcs+jo/E65xlqLLUEvEql4+o3Xt4lDQkMMCAXDs1eed8HueF9PjHdOJrVLwiNgcl4kd2YG+wY+
 zs6dd5vzqDCbWGwDIsXCaoWaoCa1EDVXuZiITqj7rn6b9iCxUWA/YWxwBLHn4MuAx+R6P1d7RO2y
 mHnxfSbWn8//u6z3F7rtUWVVrZVIDH51/77dm4cxgL8sWbZ8sxYIrIMWTPpYLMda5peosgJciAQK
 hPh7Cf5vBywEcwvPsKMq3UNgG+Z9Bj4rxEUYnPoWzBOJS5FYkcEVT5T4nkAcmhH2XPycAMoz9SiX
 S+FIZdtbb2w7G9/NUQwIhvTmpUvPaU8lEwrq5uOComFqJszdT0kLCYjgd/Ga/ysRvyJTitAEsxi3
 Q3OGbHekGEvG88GNgPO+pU4cuVk4XlV1ndTV1dF6vKNjo7/+YQaD7aJEGCyKRCMXASIX5ppM91np
 P+uPXvwupFQkkmEqb7D6nb+Ln8kUGTDmfCPGG3qm3PURa+bYoIdC2Ax1dxxo238XXhvayRnlMbBX
 2haJxq7BQ3VcYBRHBiaDDSbxTOGs19j/TtccI8dhf4ZQLel6KNtx7PiGXC7TVqq9oxiQzWQS4WhF
 Bqesr8aJEZQXi7smZX3rJ/6GFAxF+ZToj3tOdGwMqDFYIoomxTZmzEjE+/cGg6FQdXXtxfl8tlTR
 PvHUli6QpR+OxCRQ/OLePTv/AiX0wVLi+dlyQdNJJAa24bd6cysrq5chxBXt4PeJfoki0QoJgQnH
 Ad9bh5UL5DeylUcNcBQDA/2vIMOSKmKVK3HaM8A7quzci67xk8oNnAJToPYR17Ts53fv2nEHFrq/
 3GLHYwC/k08OJt4MqFoSBwvnYO99muvYEooJoqw6EVT+OO/7gtGDYUkN6L3pdOqxA237/hrX28eT
 1EQM4HfNZHLwrUwm/RaO00RilTVnItFR+UeSAjFyDeX/sfnb4PDyUihcwejztaNHDt3de/LEw1jW
 yYmWNtXFVyNuX9k8b/7qaDR2tWObIdPIyzCNoXEKTBFt6NoUUotR6x2RnTK3h4pWnNYC27tIbiwc
 3njr0MG2nxhGfstEUi+dZKoM8N+tRWw9r7Gx6cpwpGIVAFkTNjhiALnRwkYHQ1f+bTD3IZg2Fd9R
 1KwizC1Caya48BMmOYeUFnVjqSdv5N7p7Tm5JZVObMWNjokkPvL+qTLAHyeCP2qqqqoXBUPhxajH
 LQCWn4fPmUB2tTCVaqSWEV642P0TOX2BIWIvoqQBDAudEQtiQtELyY+bB5ROYLs7ji3ukzC9I9j3
 O2Dm8/v6+ns/KKo5/xpsEoB4NHs+KgP8EXkc9ifYkFGrcHByBmRXB9Wvw7UqaEEUNhrRdK0S98OM
 BcEgZt5Qc7FJixIyapV23jBySSNvDoJZeQycxPt93MGIk4DovXgJBwuGfsk0VaEPe/5/AT6cZTA7
 MyDIAAAAAElFTkSuQmCC
