[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=NSR Reader
Exec=/usr/bin/nsrreader-maemo %U
Icon=nsrreader-maemo
MimeType=application/pdf;image/vnd.djvu;image/tiff;text/plain;
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
