Source: nsrreaderlite
Section: user/office
Priority: optional
Maintainer: Alexander Saprykin <nsr.reader@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: store.ovi.com/content/250330

Package: nsrreaderlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Powerful documents reader
 NSR Reader Lite supports PDF, DjVu, TIFF and TXT documents. It
 supports wide range of additional features like: pinch
 zooming, rotating, inverted colors, text mode (with reflow),
 fullscreen mode, encrypted PDFs, saves last document's
 position and more. And all of this without any conversion
 from the desktop. Feel the power of documents reading right
 on your MeeGo device! Lite version has restriction to open
 only first 30 pages in every document.
XSBC-Maemo-Display-Name: NSR Reader Lite
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3AsUEBctXfn8vgAAAB1pVFh0Q29tbWVudAAAAAAAQ3Jl
 YXRlZCB3aXRoIEdJTVBkLmUHAAAXPklEQVR4XtWbeZyeVZXnv/c+y7vUmqRSqVQSICFAogECsqgN
 4taN4ALtCrQadpCMS8+0Dq3dn2FEegaY6RmxUURpBQc3emwYRRBBUVwgrNHsqYSQvSpVqeWtd3me
 u5z543mrUlsqicSZ9vd8zqee55773Oeec88995x731K8CnzgAxfywAM/Hn2+/rprZsf5eEEQ6Lne
 +2XOy/HOmuOs9fNFZI6CZkFCERCRMS2BUgqlQKGswJBSqjsMg51BEL4cBHqrUnqN925PmiQ77rrr
 6/tG3pvYhyOFmlhwKFxx1Uf5xj33AfDxT35CVYaHOvOF/KeVUteKSGFwcIhSqUSpVBZjzBG3PxWi
 KJKmpkbV1NRIS0szSqmKiNydVKv/rVhs2X3Hl+4QgCuuWME3vnHvxNenxRF18IYbrufLX76LFVd+
 eG5zQ8tdxqRn7+vtm1MqlUhTg7VWqLep1BE1fUiMsRgJw1DFcURTUxPtbbO6wyh+Zqg0dP293/zW
 no+tvI6v3PnVsa9OCz2xYCrccMP19TtZvnLl9f8qVu3e3LXlPb/7/dr27u4eqtUazjlUhqMuPIxM
 EYVSSjnnqFZrdHf3sPr3a9s3d215jwi7V668/l/xLIexfZ4e0/b02muv4u677wHghhuuvz1Nkr/p
 2rJVrHPTvvf/C2EQyOLFi1Qc527/8pfv+gzANddcxde+lskwFQ4pyEc/cmlrY3Prmi1bts4bHh6e
 yP43icbGRo4/ftGuwf6BZfd/+zsDE/ljMa0Crrn2qlPEy4tdW7ZqYwxq+ur/ZiAIcRRz/OKFTml1
 +te+es/vJtYZwSQfcPXVVwJwzdVXLRUvq9dv2KiMMQiC/xO5BCE1KevXb9TiZPXVV125BOCqay4f
 KyowjQVcdfUV5Q0bNhUEIVuh//QgiCgUS5acVLnn6//cOJEPExRw+eUf5dj5S+nu27Zq8+auM6uV
 6lj2nyyKxSKLTzh+1ex5rWdvXb+T+++/f5QXjKnHSy+tZvEJx7y9p6fnxv7+AZRWmYr+xClJE0Rk
 nqn6p+6771svMwZq7MN73/fefGtra3XDhg2TQtU/dSilWLJkCQOVnvwPvvOjZKR8nBOcNXPm5Xv3
 7MF7/0eRXjjQrIhMoqnqHS1472Xvnj3MauxYMbY8HPtQS5LP9vb1oZVWR90CFCCQWouzlhmNAY15
 jVJgHQxWPEMVRz4XEWj9x1CC6u3rk7a22Z8F7h4tHLlZcfnlbymVBn+2a9fuCRPj1UGhEBGssVST
 lItfP5P/8JcLaMgH478j0LW7ys3f3ca6nTVycUwYZuMjIkenTwLz5nXS0ND45m/d961fQN0Jvued
 76axuekru3ftXuysQx3hhWSd1OhJ5Sa12DThU+/p4B9WLORdZ80iDFQ99R1DCtpaIj54bjt/sbyV
 weGEZzcNko8CtB7f7qu5jHW0tbXNaco13P/Kzu2om266ia4tXVpp9cr6devn6UAfma4FakmNfKio
 WU0+F2XFIlSqCW9+bSP/9fJF5GON88LhNC5ALqd5YVOJz33rZXb1C4V8PDqNDquRg8A7L695zdJd
 KHXsfd+8zwdPPvkkZ5x5Zti/v//24eFhNXEUp72UwhpLWqvy/P88jQ3bS2zdWwPApAlfX7mIK97W
 gVaCeIFsJ+SwyFlPe0vER94yh137KqzdUSbUdWuQST057AtQURQ3VyrVWzZt2uQ1QKVWvaRUGkKR
 zdfDJe89xhqKkaBE8d+vWMTd1x+HSaqct7TAGYubcF4mynZElBrPTZcdxz9cNo9SuYKzFmFyXw6X
 FIpSaYjGxsYPQn0ZVMIlaZrWjeTgkLpnFpEDXlqgbzilVE5xznPqcUVW3b6cJHW8uGUQJR7lXx15
 63jHaTO49cPzSZIE59y4/hwp0tSglLoE6goQeIezLtPsNBeAMYakVkVsgrdJ5tDQ/HBVDwrBO494
 zz9ddyKzGkK883j/6skYx5+f2spnLppDuVzD+cxZT+zj4VzOWkS4AEBf/P6LWwBtna2P69QXZCOf
 pAntTZbH//5EfvX5JSyeLehA85VHdmUjJoKSbA7PbY1Gn48WXfJnbaw8fxZJkuAly/yO9LLOilIE
 73r3u5rDOCzMTNMU8aKm28oSMiVopdm0s8zXfrKLZ7tKPLlmkA+dM4dbP3Is1mam+cdE6uDy89r4
 l9/20V8zxFG26hwJREQlaUpDQ9OsUEFbtVo9sCAfAmEUUijkuePhXQiKlRd08rcXd2Lr8/L/BQIF
 D3zyeM79z5vQWqG1Rtejx7qnPyRq1SpBU9AWei8tJjXUB/iQCIOQfD6P1pqB4YQPnt2KsX5itWmh
 AOuEKFAc2ZsZRKAhp1h+TMzWfSkDZWgs5AiCccntwSFgUoNYWrTSFJO0hnBgx0cQnHejc8zj8eKx
 zlCqJtSsxxJgnWNpZw6cm5IiPA2hTCoX56hWDb/eMDCJd7gkzvHBs1toyVvuvXou1tawLlsiR+Q4
 2CVkvkyFqqjF0+aMBQHlFcpnwY2YhFotwVmHkqxscLDM31/YzC0XtfJPl7bxws0nUa5Y8H4ShUq4
 66d76fzY81STyXWaC5pvPrmPYsQk3uHSO09pZvd+w/IFeW5//2yGy7Wsv3U5DkYImYxO2rSxZvaI
 5kRl2rPWsnye4u6PtFFNaqQmzfjiqFRTLji5gTcuztNa0IjPlr2JVKkZvvDgbnQQ8mxXaRLfO8ea
 HRW27q1O4h0uRYGwZG4O8Y43nVjk+vOaSU06OsqiDkII1hmMTedo76XJOT86NyBb7iqJ48zj8jz+
 qU6uO6dIc85jfMBn/2UPX//5PrR4ZArTHKGfrB4kiiKWdBZ5w6LCJD7O09oQ8vCL00wDP0XZGLKp
 46yFBcR5rHWseEMzlWpmtaPyTEFePCfnjyN1rjE48aQl7xwaHHgDwmiy4b2nUk256pxWAg2nL4i5
 9txmLl7ewFmLitRSh7GeztYQLzIp3BQRSlVHQy7gqx/tmMTLQlLhgeeGSFLH+csap+Rv701ozutJ
 vLGkgY6WABGhECmqieOlnYYwHOMQxywMVhyXtr2Ft7eczi/dhue0iIQiMmoagqCUYlufZff+GniP
 c57hqmV2o+ZtS4pcdnYLyxfk8G7yvByh04/J8dkLZmCMm8SjbsLVVBiuZfcT+bEW7ny8d1L5WHLW
 sXxBPPp+ajIrsNbivUeUgAIvHiSz7KvbL+DGBX+VRZFCqAXRInLASYhCaUVDPuRzP+hGHcIM/1AK
 xdE95NCaSbyM73l6awVj7CTeWFLej3vOa6EYebz4UeddqyZU0xpXtr+DT3T+JYhHo0BEh96LH9XS
 iMUoRRyH/GZrhe4BQ1tjMOIejgq0Ujy8tsxw6lnQGjDqg8age9DRW3bUUk8hOrzgBgARIi3UnKds
 UmpJynVvDOnZfDYf77wYEY9SGisOJ15CEfyIc1AqWyKUUoRBSKoiLr1nN098Yj6pO3oqSAX+4w/2
 oVTI208q4KYIpJ7ZWiMXBjjrcdOE6BPhPYj3DFYSvrdiJh3NzbQNvZHm8EOI2KySQOIMIjjtvKup
 +iaQcMAXBEFALh+zt+RZcd8eioFCHK+aGkPFjQ/uw4riNR0hbzgmP6lOXiu+/ewg+Vih/eQ2RkhN
 wXNWsF5IrWXZnID2/jfT/MoHEGVRKtvv8M4x7Gp472oaL2VN5mnxjJJSiiiMKOTzPPNKyjn/Ywe/
 3lLBWU+khIAs9XWHoBAhUsJAxfJUV4ULvryLR9dVCcKIm89vYbjmxtXHC/9r1SA/25TQXgwIlUxq
 0zlPgPCLzRW0jOcb40kMxKEl3b2cxp0XIcqjUHjvcS6rX3JVxFMOnfheAi1iRYmaYOYK4lxMo4Le
 ao2PPdCNFzhjQZ5jZ4T89ZtmUIwPbp5aKa55oJufdVUIlCIMIAwC2lry/PP7W5nfEuLsgW96ge+s
 HuK2nw+Qy8X83dtbcI5scKivZkphnfCFn/dxznEFEpMthxlfUa45ytbzvo7zaNt9JaKyU23nPCN7
 CzjY50rixe0PQx3sDXSgkKyBidBak4tzBDrAWktn0XHbhTMpRJo4AJnGNziErl5DUyHHzGLAyR0x
 716a59S5EcVIjZv7T2+vcePDfQynQkMhzxnzQhbPDClqQciE39RruP+FEj9aV+G6NzRz7sI8fkwb
 gRYeXjvMZZ1v49Yl1yHeAGR5TX30rXNgodcNqiAIukPvpRyM7L8fxNcrrQijEEFY012hoBUBgptG
 eIDUZvm7oPjZlW0kTjAevEx+NxChZDQNxRxKCU9uHua1tw/RmFPEgWKw5qkYYVlHjpv+fAZvXVzA
 Gj8+yHGW3h0nc9uS65D6qnbA7DPhrbUoB7t8PzrQg6Ex6XAYhIgISiZbwFhopclHIfc9X2LF6VOe
 No9CK8X+YUvNwuvmhlQSP+1K0hxrnCjedEzA+l4hUgWM8zgv5AJ4x7ERHzmtgeUdITUrpOmElUMJ
 dv8p3LbkE4hk+5sjZu+cxzqHMQ5rHWKFPhlCrJRD5/y+MIrrjYxpcAIU2cZDIRfxw/UVLl/egJXx
 rygFoQYR+P7vytz13BCemLM6Q2oTOzwBTZEitY6TWuFz5zRSToVtg5a//kmZ9y2NuPp1DXiBSjJV
 O0I0dBYLB64AZRAP3ju8F6zL8gRrLMZlCiibGjqOsJVKbzgw0Dcwp2MugojIIUxAQRAG7B0Wrn2w
 j0tObmBWQTOYeHaVHFv3W7r2G9b2GDzQkItwwCnt453dVGiKAITtAxYtQkMITaHCeYf4EGuFuq8b
 D+UoVJYzf2AFgkd8tl2fmb3D2Exoa0fuLf3JsOiiVvv79+8P1/xudW/77A6vldYj3nQ6hEFIIZ9j
 XV+NG3/aj697qEAptFbkQ01nS46mfMCuYcGlhqUzQ1I31cgdQFOsUUqxrsdgjUcrxcaeFAV4X99t
 ntQ9T0P6Whb0fxxRBvEHlkTvPcY6jLH1uZ/dp8YyYIaV895tXL+2NwSo1irPq0Cf6W09UpoGSivi
 OEZpRS72WO85b37EkraAU2aHzG3UNESKTz3Wj3Nw5/lN2VI1saEJqKSeDyzJ8+iWKjsGLUOpcNMv
 B4iimPMX5XBu4hvQmJzGgqGVoCzejYy8wyUOYy0WGbUAY2z2Y07j2Ov6KZfLL0H9eDxJku8EOjjT
 ecO0jqAOrTVxFOMDT1qugDO8f3Gh7uSEVTsTVu22dDZHHNsUYKcIdSfCARcujHlka8qTL9dIHOSi
 iM+fU6Qjr8a1ITia7DIWDF+H4A4EZDVHuGIR+Xcfg90yRM+1T2IDMNaSppkCSIWXgpepVavfhfrB
 yIYNa74bxTk8glf+0MSBVDOKAp54pUY5ySI674TvratQzAXMK3oCycz3cGheg8I4x0s9hv1VRxAo
 FjVpUnugjnOWYnoCC0ufBsk8vXMeZz1ybIHwnQsYvmcDybYhojd1YLwlTQxpmpFPPC/FL7Nhw7rv
 jyrghMVLu+M43ys+WwoPl7TSBDpAKwUOvANrPT3lLPRsL2icFXyddygqBgrvhb6KpxBoxGe7x2Pr
 NKRLWVz+OwSDc4LPaVyk4NQZuCCbonpBA6WHtjLzb04jNZYkMSSJIU0M/9s9RS32fSeceNJOqP8+
 YH9/n3R2LrjIOnOM944jgXeexBiKQea1n95t+NXuFNEBsTjetTCHddSztIMTAkrgvvVVhhLPmt6U
 MAz41Y4KXf2W1Dnmh0s42X0aLw5XsXjjCP5qEfHKJaj5RYbu3Uj42lYK58yl+Nb5bPnwI1R7yqTG
 4lPHj+VZHiquIhflX1z90vP3iPeZArxz5At5aWpsuSipVbOAKJvO01Md4oVf76zywKYqv92TonRA
 FIbsHEp54pUE5zPhNBCrjAKVlVWMZ/ew49k9hltWlag5RS6XIwpDtNaUUmH9/oTBoeO48ZhbEPF4
 JUT3n4tZ04/ZOED01rmoOKD02Haqa3oZfqGHnV94mmr3MKkxuER4StZwf/AETY2t9O7rvrmvt/cF
 mBDHnPX6PxsaGuhrAKZKCyajrgTnHGmaIiJorQnDEKUUSZJgrcU5h0i2EgjZRyOtMB4EQZFFjkEQ
 EMcxcRxnJz2SefbXFI7lwTNvw9vq6Hzn9Bkwp4ALhKFvb6b93regZ+YR59nwrgep7Stn895Yful/
 z33RTwlES3PrrNKqp389G0hhwu8EZ8yc1RrH8TnGHvqofCyUzjofhiFhfeSUzjZVRsqDIEBrRaA0
 WitAoQNNFAREcUQUR+TiHFEUZb9PJFPWsqaFPLD8PyGuPuedx3lHunWIwmdPJXdmO9469nx+FRQC
 dtz0G8o7hkhTizWWJ/wLfDv6ORpFodCgkiT5Uk9P96OjfR+5mT9/PkODpYXLTl2+ZX9v9+GM/2FD
 JEtZMysYn77W/wcg242C0b9WHK9pOJaHTrkZ67KlTjoL+FkRtV/vxWoh7avS9MmTaf7AYnbf/DQ9
 39+EDT1pavGp8Bu/lnviR9D1XwPObOuQ1S8+d2K5PNyV9WyMBQwNDZGkyYAIcVNLy7kmTURE1LjO
 /4E0Aq2yQ8yxNPFEeuSdExsW8MPTbsO5BO8Fl9Pk/vFMojfPxWwvUd06iA2g9MxeJFL0/3IHlf0V
 0tRgUstv/Trujh9Gi0ZEpFBsULt37by1r6/3gbHfm3SaWCoNPbNgwcIPe2dbsw3E8aP0auhgfmVc
 HeD4YicPnfp5fN3snfO4xFB5dAfB/AaKHzqe2qZ+fAzzvvRmNq/8KZWeMsZYTGp4StZyb/QYIQFK
 KaIop3L5hlc2bVx3GfW5P/rtsQ8jiOP4LSefevqPhof6C3KoBOkowolncXEe/+fUL6A8o6mssQ5n
 Hal12MQw8+azKL6+A1+zbL72MQZe2otJLS71POs3cnfu4VEvrpSSpuYZ1dUvPn+RsebxCZ+cbAEA
 zrlt3vuB9o7OC5NaVYlkhyV/TIgICwtz+cnr/hHvbBZVek9aT2ayxMZhnaP/kW0UTp9N18efYHDd
 vnqU53jRd3Fn/iECCbLVRWlaZrSx/ZWXP1MqDX1n4jfhIBZQh2ppnfHvTzxp6e2DA32I+OnqvmrM
 jWfx+Om3gx8Jb7MkJq0LbY0ltRaTZhmdSVJS6+rCW57zm7in8ONRh6eUkpbWNjZtXP+3gwP9twNT
 JiRTWsAIklrtmUq5vLe9fe5ZKNVgjRElKA43UDoMcuKZF8/i4eX/hUD0aGxvrcM4Oy6bMyYTNjH1
 5MZYXOJ5yW/mnvwjKFGIiORzRZXPN+7b0rXpxsGB/js4iPBwCAUAUqtVn9u7d/ezs9s7lhaKDXOt
 MVqkvgugyGzoDyRBWJCfzS/O+CKM5vLZqI/s3mSCZ8KOBDZm5G9iWeO3cUfxQTRKtA5UQ1OLt9Y/
 8/vfvXBDrVb9PpmqDwo1sWAazM7lcpeetGTZvwsCfcLw8CDeuSNrYQwUillhM0+d+UXEC9aOMXtr
 R3dxDghtSesWYEyW3Kzx27iz8BBRENHY2IKzftPGjWvuTJLke0D3xG9OhSPtfgAsmjmz7b1ts9v/
 olAsnuudi9KkirUmswo4pMP04mmLW3h0+a0UVX5U8MzsRzYv6yNfV0CaHFCES5ys1dvVN2b+DBVo
 U61Untq3r/ux/v19DwJbgEPv7NQxfU+nx0JgcXv73DfNapt9YRTF80Rck3O26KypH0kLXgREZGQ5
 FYQ58UyeOuOLuPoOzrhRr+/cGmPFpFaNCD1squy3wwyl5cpataP0YOPTu0q9/T/u6dnzFNAFbB3X
 u8PEq1HAWLSBWqYUx2sd5GfP6Vja2Ni0OBfnFgdh2BkEQQEEEWhUOZ5YcgsIde/usM5iTN3xWcPe
 ZJDtaQ87TW9tW7p35+pk65Yt1e1d+7r3rjfeJiKyBVgDjP4X+R+Ko6WAscgB+THUALTGUdwaRlHz
 nPzMYiGIY00QIqIFwXrnyz6xw76aDpiBCkZKWPYDQ8AwUAMSoFr/e9TwfwFIc/pRUV4fQQAAAABJ
 RU5ErkJggg==
